1- Criando um arquivo e aplicando múltiplas fuções nele.

In [24]:
import pandas as pd

cnt = { 
        "Peças/Materiais": ["Juntas", "Cordas", "Articulações", "Parafusos", "Pinos", "Cola", "Filamento", "Tarrachas", "Elasticos", "Baterias", "", "Aluminio", "", "", ""],  
        "Quantidade": ["50u", "30m", "77u", "", "", "43L", "200m", "50u", "100m", "10u(5hrs)", "", "50Kg", "", "", ""],
        "Qualidade": ["Boa", "Duvidosa", "Boa", "Ruim", "Duvidosa", "", "Boa", "", "Boa", "Exelente", "", "Exelente", "", "", "" ],
        "Faltando": ["7u", "", "3u", "120u", "90u", "7L","", "", "", "", "", "20Kg", "", "", ""]
}

ArqAu5 = pd.DataFrame(cnt)

#Acredito que será necessário trocar o path do arquivo quando executado em outra máquina
ArqAu5.to_csv("C:/Utilidades/Python/Aulas/ArqAu5.csv", index=False)

2- Lendo o arquivo

In [25]:
import pandas as pd
import numpy as np

leitura = pd.read_csv("C:/Utilidades/Python/Aulas/ArqAu5.csv")  
leitura

   Peças/Materiais Quantidade Qualidade Faltando
0           Juntas        50u       Boa       7u
1           Cordas        30m  Duvidosa      NaN
2     Articulações        77u       Boa       3u
3        Parafusos        NaN      Ruim     120u
4            Pinos        NaN  Duvidosa      90u
5             Cola        43L       NaN       7L
6        Filamento       200m       Boa      NaN
7        Tarrachas        50u       NaN      NaN
8        Elasticos       100m       Boa      NaN
9         Baterias  10u(5hrs)  Exelente      NaN
10             NaN        NaN       NaN      NaN
11        Aluminio       50Kg  Exelente     20Kg
12             NaN        NaN       NaN      NaN
13             NaN        NaN       NaN      NaN
14             NaN        NaN       NaN      NaN

In [26]:
leitura.head(1)

  Peças/Materiais Quantidade Qualidade Faltando
0          Juntas        50u       Boa       7u

In [27]:
leitura.tail(6)

   Peças/Materiais Quantidade Qualidade Faltando
9         Baterias  10u(5hrs)  Exelente      NaN
10             NaN        NaN       NaN      NaN
11        Aluminio       50Kg  Exelente     20Kg
12             NaN        NaN       NaN      NaN
13             NaN        NaN       NaN      NaN
14             NaN        NaN       NaN      NaN

In [28]:
leitura.loc[(leitura["Quantidade"] == "50u")]

  Peças/Materiais Quantidade Qualidade Faltando
0          Juntas        50u       Boa       7u
7       Tarrachas        50u       NaN      NaN

In [36]:
leitura.iloc[5:7]

  Peças/Materiais Quantidade Qualidade Faltando
5            Cola        43L       NaN       7L
6       Filamento       200m       Boa      NaN

3- Ordenando o arquivo

In [38]:
leitura.sort_values(by=["Qualidade"])

   Peças/Materiais Quantidade Qualidade Faltando
0           Juntas        50u       Boa       7u
2     Articulações        77u       Boa       3u
6        Filamento       200m       Boa      NaN
8        Elasticos       100m       Boa      NaN
1           Cordas        30m  Duvidosa      NaN
4            Pinos        NaN  Duvidosa      90u
9         Baterias  10u(5hrs)  Exelente      NaN
11        Aluminio       50Kg  Exelente     20Kg
3        Parafusos        NaN      Ruim     120u
5             Cola        43L       NaN       7L
7        Tarrachas        50u       NaN      NaN
10             NaN        NaN       NaN      NaN
12             NaN        NaN       NaN      NaN
13             NaN        NaN       NaN      NaN
14             NaN        NaN       NaN      NaN

In [39]:
leitura.isnull()

    Peças/Materiais  Quantidade  Qualidade  Faltando
0             False       False      False     False
1             False       False      False      True
2             False       False      False     False
3             False        True      False     False
4             False        True      False     False
5             False       False       True     False
6             False       False      False      True
7             False       False       True      True
8             False       False      False      True
9             False       False      False      True
10             True        True       True      True
11            False       False      False     False
12             True        True       True      True
13             True        True       True      True
14             True        True       True      True

4- Descrevendo o arquivo

In [40]:
leitura.describe()

       Peças/Materiais Quantidade Qualidade Faltando
count               11          9         9        6
unique              11          8         4        6
top             Juntas        50u       Boa       7u
freq                 1          2         4        1

In [42]:
leitura.shape

(15, 4)

In [43]:
leitura.dtypes

Peças/Materiais    object
Quantidade         object
Qualidade          object
Faltando           object
dtype: object