1- Abrindo arquivo

In [76]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

df_train = pd.read_csv("C:/Utilidades/Python/Aulas/df_train.csv")
df_train

     Survived  Pclass    Sex        Age  SibSp  Parch  Fare  Embarked
0           0       3    0.0  22.000000      1      0  10.0       1.0
1           1       1  100.0  38.000000      1      0  50.0       2.0
2           1       3  100.0  26.000000      0      0  10.0       1.0
3           1       1  100.0  35.000000      1      0  50.0       1.0
4           0       3    0.0  35.000000      0      0  10.0       1.0
..        ...     ...    ...        ...    ...    ...   ...       ...
886         0       2    0.0  27.000000      0      0  30.0       1.0
887         1       1  100.0  19.000000      0      0  50.0       1.0
888         0       3  100.0  29.699118      1      2  10.0       1.0
889         1       1    0.0  26.000000      0      0  50.0       2.0
890         0       3    0.0  32.000000      0      0  10.0       0.0

[891 rows x 8 columns]

2- Separando as colunas nas variaveis Y e X

In [77]:
X = df_train.loc[:,"Pclass":"Embarked"]
Y = df_train.loc[:,"Survived"]
print(f"Valores de X:\n{X} \n\nValores de Y\n{Y}")

Valores de X:
     Pclass    Sex        Age  SibSp  Parch  Fare  Embarked
0         3    0.0  22.000000      1      0  10.0       1.0
1         1  100.0  38.000000      1      0  50.0       2.0
2         3  100.0  26.000000      0      0  10.0       1.0
3         1  100.0  35.000000      1      0  50.0       1.0
4         3    0.0  35.000000      0      0  10.0       1.0
..      ...    ...        ...    ...    ...   ...       ...
886       2    0.0  27.000000      0      0  30.0       1.0
887       1  100.0  19.000000      0      0  50.0       1.0
888       3  100.0  29.699118      1      2  10.0       1.0
889       1    0.0  26.000000      0      0  50.0       2.0
890       3    0.0  32.000000      0      0  10.0       0.0

[891 rows x 7 columns]

Valores de Y
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

3- Separando os grupos de Treino e Teste

In [78]:
X_train, X_teste, Y_train, Y_teste = train_test_split(X, Y)

X_train

     Pclass    Sex        Age  SibSp  Parch  Fare  Embarked
49        3  100.0  18.000000      1      0  10.0       1.0
439       2    0.0  31.000000      0      0  30.0       1.0
506       2  100.0  33.000000      0      2  30.0       1.0
199       2  100.0  24.000000      0      0  30.0       1.0
342       2    0.0  28.000000      0      0  30.0       1.0
..      ...    ...        ...    ...    ...   ...       ...
805       3    0.0  31.000000      0      0  10.0       1.0
694       1    0.0  60.000000      0      0  50.0       1.0
449       1    0.0  52.000000      0      0  50.0       1.0
374       3  100.0  16.002015      3      1  10.0       1.0
281       3    0.0  28.000000      0      0  10.0       1.0

[668 rows x 7 columns]

4- Colocando KNN em uma variÃ¡vel

In [79]:
knn = KNeighborsClassifier(n_neighbors = 5)

5- Fazendo uma prediÃ§Ã£o

In [80]:
knn.fit(X_train, Y_train)
y_pred = knn.predict(X_teste)
print("PrecissÃ£o do algoritimo, com k=5:", accuracy_score(Y_teste, y_pred)*100)

PrecissÃ£o do algoritimo, com k=5: 83.40807174887892